body {
  margin: 50px auto 0 auto;
  background-color: hsl(212, 45%, 89%);
  text-align: center;
  font-family: "Outfit", sans-serif;
}

.container {
  min-width: 350px;
  width: 15%;
  padding: 20px;
  border-radius: 16px;
  background-color: hsl(0, 0%, 100%);
  margin: 0 auto 0 auto;
}

.qrCode img {
  width: 100%;
  border-radius: 8px;
}

.text {
  padding: 0 16px 0 16px;
}

h1 {
  font-weight: 700;
  color: hsl(218, 44%, 22%);
  padding-bottom: 20px;
  font-size: 28px;
}

h2 {
  font-weight: 400;
  font-size: 15px;
  color: rgb(140, 142, 148);
  padding-bottom: 20px;
}

.attribution {
  padding: 10px 10px;
  font-size: 80%;
}

.links {
  text-decoration: none;
}
